/*共用样式 START*/
body {
  background: #fff;
  min-width: 0;
}
.backBtn {
  /*返回按钮*/
  padding: 0 16px;
  /*logo图标*/
}
.backBtn .backBtn_ft {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #7c7c7c;
}
.backBtn .backBtn_ft i {
  margin-left: -7px;
  color: rgba(124, 124, 124, 0.9);
}
.backBtn .backBtn_ft a {
  color: #7c7c7c;
}
.backBtn .zzl_glogin {
  margin: 34px 0 41px 0;
}
.backBtn .zzl_glogin div {
  text-align: center;
}
.backBtn .zzl_glogin div img {
  width: 27%;
}
.backBtn .zzl_glogin div p {
  color: #008fff;
  font-size: 0.2rem;
  font-weight: 700;
}
/*共用样式 END*/
/*登录页面 START */
.login {
  padding: 0 16px;
}
.login .closed {
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.login .closed i {
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 12px;
  background: url('../images/webapp/close.png');
  background-size: 100%;
}
.login .zzl_glogin {
  margin: 34px 0 41px 0;
}
.login .zzl_glogin div {
  text-align: center;
}
.login .zzl_glogin div img {
  width: 27%;
}
.login .zzl_glogin div p {
  color: #008fff;
}
.login .user_name {
  width: 100%;
  position: relative;
}
.login .user_name span {
  position: absolute;
  top: 6px;
  left: 0px;
}
.login .user_name input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.login .user_word {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.login .user_word span {
  position: absolute;
  top: 6px;
  left: 0px;
}
.login .user_word input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.login .userReg_check {
  width: 100%;
  position: relative;
  margin-top: 15px;
  display: none;
}
.login .userReg_check .userReg_check_ft {
  width: 60%;
  float: left;
}
.login .userReg_check .userReg_check_ft span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 0px;
  background: url('../images/webapp/check01.png');
  background-size: 100% 100%;
}
.login .userReg_check .userReg_check_ft input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.login .userReg_check .userReg_check_rt {
  width: 40%;
  float: left;
}
.login .userReg_check .userReg_check_rt .img {
  /*width: 45%;*/
  float: left;
  text-align: center;
  border: 1px solid #e0e0e0;
  margin: 0 6%;
}
.login .userReg_check .userReg_check_rt .img img {
  /*width: 90%;*/
  width: 62px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.login .userReg_check .userReg_check_rt .changeImg {
  color: #7c7c7c;
  font-size: 0.12rem;
  margin-top: 4px;
  height: 30px;
  line-height: 30px;
}
.login .landing {
  width: 100%;
  height: 36px;
  margin-top: 13px;
}
.login .landing button {
  width: 100%;
  height: 100%;
  display: block;
  background: #008fff;
  border-radius: 50px;
  font-size: 0.16rem;
  color: #fff;
  border: 1px solid #007aff;
}
.login .landing .forget {
  width: 100%;
  margin-top: 13px;
}
.login .landing .forget div {
  width: 50%;
  float: left;
}
.login .landing .forget .forgetWord {
  float: right;
  padding-right: 25px;
  color: #008fff;
  font-size: 0.14rem;
  margin-top: 1px;
  border-right: 1px solid #008fff;
}
.login .landing .forget .reg {
  margin-left: 25px;
  color: #008fff;
  font-size: 0.14rem;
}
/*登录页面 END */
/*注册页面 START */
.backBtn {
  padding: 0 16px;
}
.backBtn .userReg_phone {
  width: 100%;
  position: relative;
}
.backBtn .userReg_phone span {
  display: block;
  width: 18px;
  height: 25px;
  position: absolute;
  top: 6px;
  left: 1px;
  background: url('../images/webapp/phone.png');
  background-size: 100% 100%;
}
.backBtn .userReg_phone input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.backBtn .userReg_check {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.backBtn .userReg_check .userReg_check_ft {
  width: 60%;
  float: left;
}
.backBtn .userReg_check .userReg_check_ft span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 0px;
  background: url('../images/webapp/check01.png');
  background-size: 100% 100%;
}
.backBtn .userReg_check .userReg_check_ft input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.backBtn .userReg_check .userReg_check_rt {
  width: 40%;
  float: left;
}
.backBtn .userReg_check .userReg_check_rt .img {
  /*width: 45%;*/
  float: left;
  text-align: center;
  border: 1px solid #e0e0e0;
  margin: 0 6%;
}
.backBtn .userReg_check .userReg_check_rt .img img {
  /*width: 90%;*/
  width: 62px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.backBtn .userReg_check .userReg_check_rt .changeImg {
  color: #7c7c7c;
  font-size: 0.12rem;
  margin-top: 4px;
  height: 30px;
  line-height: 30px;
}
.backBtn .inputNumber {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.backBtn .inputNumber .inputNumber_check_ft {
  width: 60%;
  float: left;
}
.backBtn .inputNumber .inputNumber_check_ft span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 0px;
  background: url('../images/webapp/check01.png');
  background-size: 100% 100%;
}
.backBtn .inputNumber .inputNumber_check_ft input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.backBtn .inputNumber .inputNumber_check_rt {
  width: 40%;
  float: left;
  margin-top: 1%;
  text-align: center;
}
.backBtn .inputNumber .inputNumber_check_rt button {
  width: 90%;
  display: inline-block;
  background: #008fff;
  color: #feffff;
  border: 1px solid #008fff;
  padding: 6px 0px;
  font-size: 0.12rem;
}
.backBtn .nextSep {
  width: 100%;
  height: 36px;
  margin-top: 13px;
}
.backBtn .nextSep button {
  width: 100%;
  height: 100%;
  display: block;
  background: #008fff;
  border-radius: 50px;
  font-size: 0.16rem;
  color: #fff;
  border: 1px solid #007aff;
}
.backBtn .nextSep .forget {
  width: 100%;
  margin-top: 13px;
  padding-bottom: 20px;
}
.backBtn .nextSep .forget div {
  width: 100%;
  color: #b6b6b6;
  text-align: center;
  font-size: 0.14rem;
}
.backBtn .nextSep .forget .forgetWord {
  padding-right: 25px;
  color: #008fff;
  font-size: 0.14rem;
  margin-top: 1px;
  text-align: center;
}
/*注册页面 END */
/*注册下一步页面 START */
/*注：返回按钮，新用户注册图标共用*/
.reg_next {
  padding: 0 16px;
}
.reg_next .user .user_name {
  width: 100%;
  position: relative;
}
.reg_next .user .user_name span {
  position: absolute;
  top: 6px;
  left: -3px;
  color: #bfbfbf;
}
.reg_next .user .user_name input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.reg_next .user .user_word {
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.reg_next .user .user_word span {
  position: absolute;
  top: 6px;
  left: -3px;
  color: #bfbfbf;
}
.reg_next .user .user_word input {
  padding-left: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
}
.reg_next .user .consumer_number span {
  display: block;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 0px;
  background: url(../images/webapp/check_number.png);
  background-size: 100% 100%;
}
.reg_next .landing {
  width: 100%;
  height: 36px;
  margin-top: 13px;
}
.reg_next .landing button {
  width: 100%;
  height: 100%;
  display: block;
  background: #008fff;
  border-radius: 50px;
  font-size: 0.16rem;
  color: #fff;
  border: 1px solid #007aff;
}
.reg_next .landing .forget {
  width: 100%;
  margin-top: 13px;
  padding-bottom: 20px;
}
.reg_next .landing .forget div {
  width: 100%;
  color: #b6b6b6;
  text-align: center;
  font-size: 0.14rem;
}
.reg_next .landing .forget .forgetWord {
  padding-right: 25px;
  color: #008fff;
  font-size: 0.14rem;
  margin-top: 1px;
  text-align: center;
}
/*注册下一步页面 END */
/*忘记密码第一步页面 START */
.backBtn {
  background: #fff;
}
.backBtn .backBtn_ft .back {
  width: 33.333333%;
  float: left;
}
.backBtn .backBtn_ft .tit {
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #383838;
}
.forget_password {
  padding: 0 16px;
  margin-top: 12px;
  background: #fff;
}
.forget_password input {
  display: block;
  height: 52px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  color: #b3b3b3;
  font-size: 0.16rem;
  padding: 0 0 0 30px;
  margin-bottom: 0;
}
.forget_password .userReg_phone {
  width: 100%;
  position: relative;
}
.forget_password .userReg_phone span {
  display: block;
  width: 18px;
  height: 25px;
  position: absolute;
  top: 11px;
  left: 2px;
  background: url('../images/webapp/forget_icon.png') no-repeat 0px 2px;
}
.forget_password .userReg_check {
  width: 100%;
  position: relative;
}
.forget_password .userReg_check .userReg_check_ft {
  width: 100%;
}
.forget_password .userReg_check .userReg_check_ft span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  left: 0px;
  background: url('../images/webapp/forget_icon.png') no-repeat 0px -24px;
}
.forget_password .userReg_check .userReg_check_rt {
  width: 40%;
  position: absolute;
  top: 11px;
  right: 0px;
}
.forget_password .userReg_check .userReg_check_rt .img {
  float: left;
  text-align: center;
  border: 1px solid #e0e0e0;
  margin: 0 6%;
}
.forget_password .userReg_check .userReg_check_rt .img img {
  /*width: 90%;*/
  width: 62px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
}
.forget_password .userReg_check .userReg_check_rt .changeImg {
  color: #7c7c7c;
  font-size: 0.12rem;
  height: 32px;
  line-height: 32px;
}
.forget_password .inputNumber {
  width: 100%;
  position: relative;
}
.forget_password .inputNumber .inputNumber_check_ft {
  width: 100%;
}
.forget_password .inputNumber .inputNumber_check_ft span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  left: 0px;
  background: url('../images/webapp/forget_icon.png') no-repeat 0px -24px;
}
.forget_password .inputNumber .inputNumber_check_ft input {
  border: none;
}
.forget_password .inputNumber .inputNumber_check_rt {
  width: 40%;
  position: absolute;
  top: 11px;
  right: 0px;
  text-align: center;
}
.forget_password .inputNumber .inputNumber_check_rt button {
  width: 90%;
  display: inline-block;
  background: #008fff;
  color: #feffff;
  border: 1px solid #008fff;
  padding: 6px 0px;
  font-size: 0.14rem;
}
.nextSep {
  width: 100%;
  height: 36px;
  margin-top: 66px;
  padding: 0 16px;
}
.nextSep button {
  width: 100%;
  height: 100%;
  display: block;
  background: #008fff;
  border-radius: 50px;
  font-size: 0.16rem;
  color: #fff;
  border: 1px solid #008fff;
}
.nextSep button a {
  color: #fff;
}
/*忘记密码第一步页面 END */
/*忘记密码第二步页面 START */
.forget_pd_second .userReg_phone span {
  background: url(../images/webapp/locked.png) no-repeat 0px 0px;
  width: 25px;
  left: 0px;
}
.forget_pd_second .userReg_check .userReg_check_ft span {
  background: url(../images/webapp/locked.png) no-repeat 0px 0px;
  height: 25px;
  width: 25px;
  left: 0px;
  top: 11px;
}
.forget_pd_second .userReg_check .userReg_check_ft input {
  border: none;
}
/*忘记密码第二步页面 END */
/*优选系列页面 START */
.wrap .header {
  margin-top: -5px;
  width: 100%;
  background: url(../images/webapp/invest_d01.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
.wrap .header h1 {
  padding: 0.6rem 0 0 0;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}
.wrap .header p {
  padding: 0 0 0.6rem 0;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}
.wrap .header p i {
  font-weight: 900;
}
.wrap .list {
  position: relative;
}
.wrap .list_a1 {
  margin-top: -25px;
}
.wrap .list_a1 img {
  width: 100%;
}
.wrap .list_a1 .content {
  width: 90%;
  height: 79%;
  border: 2px solid red;
  position: absolute;
  top: 9%;
  left: 5%;
}
.wrap .list_a2 {
  margin-top: -20px;
}
.wrap .list_a2 img {
  width: 100%;
}
.wrap .list_a2 .content {
  width: 90%;
  height: 79%;
  border: 2px solid red;
  position: absolute;
  top: 9%;
  left: 5%;
}
/*优选系列页面 END */
