/*共用样式 START*/

body {
	background: #fff;
	min-width: 0;

}
.backBtn {
	/*返回按钮*/
	padding: 0 16px;
	.backBtn_ft {
		width: 100%;
		height: 40px;
    	line-height: 40px;
		color: #7c7c7c;
		i {	
			margin-left: -7px;
			color: rgba(124, 124, 124, 0.9);
		}
		a {
			color: #7c7c7c;
		}
	}
	/*logo图标*/
	.zzl_glogin {
		margin: 34px 0 41px 0;
		div {
			text-align: center;
			img {
				width: 27%;
			}
			p {
				color: #008fff;
				font-size: 0.2rem;
				font-weight: 700;
			}
		}
	}
}
.mBackBtn {
            position: absolute;
            top: 0.1rem;
            left: 0.05rem;
            color: #fff;
        }
/*共用样式 END*/
/*登录页面 START */
.login {
	padding: 0 16px;
	.closed {
		width: 100%;
		height: 35px;
		line-height: 35px;
		i {	
			display: block;
			width: 12px;
			height: 12px;
			float: right;
			margin-top: 12px;
			background: url('../images/webapp/close.png');
			background-size: 100%;
		}
	}
	.zzl_glogin {
		margin: 34px 0 41px 0;
		div {
			text-align: center;
			img {
				width: 27%;
			}
			p {
				color: #008fff;
			}
		}
	}
	.user {

	}
	.user_name {
		width: 100%;
		position: relative;
		span {
			position: absolute;
			top: 6px;
			left: 0px;
		}
		input {
			padding-left: 30px;
			border-radius: 0px; 
			border: none;
			border-bottom: 1px solid #e1e1e1;
			color: #b3b3b3;
			font-size: 0.16rem;
		}
	}
	.user_word {
			width: 100%;
			position: relative;
			margin-top: 15px;
			span {
				position: absolute;
				top: 6px;
				left: 0px;
			}
			input {
				padding-left: 30px;
				border-radius: 0px; 
				border: none;
				border-bottom: 1px solid #e1e1e1;
				color: #b3b3b3;
				font-size: 0.16rem;
			}
		}
		.userReg_check {
			width: 100%;
			position: relative;
			margin-top: 15px;
			display: none;
			.userReg_check_ft {
				width: 60%;
				float: left;
				span {
					display: block;
					width: 20px;
					height:20px;
					position: absolute;
					top: 9px;
					left: 0px;
					background: url('../images/webapp/check01.png');
					background-size: 100% 100%;
				}
				input {
					padding-left: 30px;
					border-radius: 0px; 
					border: none;
					border-bottom: 1px solid #e1e1e1;
					color: #b3b3b3;
					font-size: 0.16rem;
				}
			}
		.userReg_check_rt {
			width: 40%;
			float: left;
			.img {
				/*width: 45%;*/
				float: left;
				text-align: center;
				border: 1px solid #e0e0e0;
				margin: 0 6%;
				img {
					/*width: 90%;*/
					width: 62px;
					vertical-align: middle;
				    height: 30px;
					line-height: 30px;
				}
			}
			.changeImg {
				color: #7c7c7c;
				font-size: 0.12rem;
				margin-top: 4px;
				height: 30px;
					line-height: 30px;
			}
		}
	}
	.landing {
		width: 100%;
		height: 36px;
		margin-top: 13px;
		button {
			width: 100%;
			height: 100%;
			display: block;
			background: #008fff;
			border-radius: 50px;
			font-size: 0.16rem;
			color: #fff;
			border: 1px solid #007aff;
		}
		.forget {
			width: 100%;
			margin-top: 13px;
			div {
				width: 50%;
				float: left;
			}
			.forgetWord {
				float: right;
				padding-right: 25px;
				color:#008fff;
				font-size: 0.14rem;
				margin-top: 1px;
				border-right: 1px solid #008fff;
			}
			.reg {
				margin-left: 25px;
				color:#008fff;
				font-size: 0.14rem;
			}
			
		}
	}	

}
/*登录页面 END */
/*注册页面 START */
.backBtn {
	padding: 0 16px;
	.userReg_phone {
		width: 100%;
		position: relative;
		span {
			display: block;
			width: 18px;
			height:25px;
			position: absolute;
			top: 6px;
			left: 1px;
			background: url('../images/webapp/phone.png');
			background-size: 100% 100%;
		}
		input {
			padding-left: 30px;
			border-radius: 0px; 
			border: none;
			border-bottom: 1px solid #e1e1e1;
			color: #b3b3b3;
			font-size: 0.16rem;
		}
	}
	.userReg_check {
		width: 100%;
		position: relative;
		margin-top: 15px;
		.userReg_check_ft {
			width: 60%;
			float: left;
			span {
				display: block;
				width: 20px;
				height:20px;
				position: absolute;
				top: 9px;
				left: 0px;
				background: url('../images/webapp/check01.png');
				background-size: 100% 100%;
			}
			input {
				padding-left: 30px;
				border-radius: 0px; 
				border: none;
				border-bottom: 1px solid #e1e1e1;
				color: #b3b3b3;
				font-size: 0.16rem;
			}
		}
		.userReg_check_rt {
			width: 40%;
			float: left;
			.img {
				/*width: 45%;*/
				float: left;
				text-align: center;
				border: 1px solid #e0e0e0;
				margin: 0 6%;
				img {
					/*width: 90%;*/
					width: 62px;
					vertical-align: middle;
				    height: 30px;
					line-height: 30px;
				}
			}
			.changeImg {
				color: #7c7c7c;
				font-size: 0.12rem;
				margin-top: 4px;
				height: 30px;
					line-height: 30px;
			}
		}
	}
	.inputNumber {
		width: 100%;
		position: relative;
		margin-top: 15px;
		.inputNumber_check_ft {
			width: 60%;
			float: left;
			span {
				display: block;
				width: 20px;
				height:20px;
				position: absolute;
				top: 9px;
				left: 0px;
				background: url('../images/webapp/check01.png');
				background-size: 100% 100%;
			}
			input {
				padding-left: 30px;
				border-radius: 0px; 
				border: none;
				border-bottom: 1px solid #e1e1e1;
				color: #b3b3b3;
				font-size: 0.16rem;
			}
		}
		.inputNumber_check_rt {
			width: 40%;
			float: left;
			margin-top: 1%;
			text-align: center;
			button {
				width: 90%;
    			display: inline-block;
				background:#008fff;
				color: #feffff;
				border: 1px solid #008fff;
				padding: 6px 0px;
				font-size: 0.12rem;
			}
		}
	}
	.nextSep {
		width: 100%;
		height: 36px;
		margin-top: 13px;
		button {
			width: 100%;
			height: 100%;
			display: block;
			background: #008fff;
			border-radius: 50px;
			font-size: 0.16rem;
			color: #fff;
			border: 1px solid #007aff;
		}
		.forget {
			width: 100%;
			margin-top: 13px;
			padding-bottom: 20px;
			div {
				width: 100%;
				color:#b6b6b6;
				text-align: center;
				font-size: 0.14rem;
			}
			.forgetWord {
				padding-right: 25px;
				color:#008fff;
				font-size: 0.14rem;
				margin-top: 1px;
				text-align: center;
			}
		}
	}	
}
/*注册页面 END */
/*注册下一步页面 START */
/*注：返回按钮，新用户注册图标共用*/
.reg_next {
	padding: 0 16px;
	.user {
		.user_name {
			width: 100%;
			position: relative;
			span {
				position: absolute;
				top: 6px;
				left: -3px;
				color: #bfbfbf;
			}
			input {
				padding-left: 30px;
				border-radius: 0px; 
				border: none;
				border-bottom: 1px solid #e1e1e1;
				color: #b3b3b3;
				font-size: 0.16rem;
			}
		}
		.user_word {
			width: 100%;
			position: relative;
			margin-top: 10px;
			span {
				position: absolute;
				top: 6px;
				left: -3px;
				color: #bfbfbf;
			}
			input {
				padding-left: 30px;
				border-radius: 0px; 
				border: none;
				border-bottom: 1px solid #e1e1e1;
				color: #b3b3b3;
				font-size: 0.16rem;
			}
		}
		.consumer_number {
		    span {
			    display: block;
			    width: 20px;
    			height: 20px;
			    top: 6px;
			    left: 0px;
			    background: url(../images/webapp/check_number.png);
			    background-size: 100% 100%;
		    }		    
		}
	}
	
	.landing {
		width: 100%;
		height: 36px;
		margin-top: 13px;
		button {
			width: 100%;
			height: 100%;
			display: block;
			background: #008fff;
			border-radius: 50px;
			font-size: 0.16rem;
			color: #fff;
			border: 1px solid #007aff;
		}
		.forget {
			width: 100%;
			margin-top: 13px;
			padding-bottom: 20px;
			div {
				width: 100%;
			    color: #b6b6b6;
			    text-align: center;
			    font-size: 0.14rem;
			}
			.forgetWord {
			    padding-right: 25px;
			    color: #008fff;
			    font-size: 0.14rem;
			    margin-top: 1px;
			    text-align: center;
			}
		}
	}	

}
/*注册下一步页面 END */

/*忘记密码第一步页面 START */

.backBtn {
	background: #fff;
	.backBtn_ft {
		.back {
			width: 33.333333%;
			float: left;
		}
		.tit {
			width: 33.333333%;
			float: left;
			text-align: center;
			color: #383838;
		}
	}
}
.forget_password {
	padding: 0 16px;
	margin-top: 12px;
	background: #fff;
	input {
			display: block;
		    height: 52px;
			border-radius: 0px; 
			border: none;
			border-bottom: 1px solid #e1e1e1;
			color: #b3b3b3;
			font-size: 0.16rem;
		    padding: 0 0 0 30px;
		    margin-bottom: 0;
		}
	.userReg_phone {
		width: 100%;
		position: relative;
		span {
			display: block;
			width: 18px;
			height:25px;
			position: absolute;
			top: 11px;
			left: 2px;
			background: url('../images/webapp/forget_icon.png') no-repeat 0px 2px;
			
		}
	}
	.userReg_check {
		width: 100%;
		position: relative;
		.userReg_check_ft {
			width: 100%;
			span {
				display: block;
				width: 20px;
				height:20px;
				position: absolute;
				top: 16px;
				left: 0px;
				background: url('../images/webapp/forget_icon.png') no-repeat 0px -24px;
			}
		}
		.userReg_check_rt {
			width: 40%;
			position: absolute;
			top: 11px;;
			right: 0px;
			.img {
				float: left;
				text-align: center;
				border: 1px solid #e0e0e0;
				margin: 0 6%;
				img {
					/*width: 90%;*/
					width: 62px;
					vertical-align: middle;
				    height: 30px;
					line-height: 30px;
				}
			}
			.changeImg {
				color: #7c7c7c;
				font-size: 0.12rem;
				height: 32px;
				line-height: 32px;
			}
		}
	}
	.inputNumber {
		width: 100%;
		position: relative;
		.inputNumber_check_ft {
			width: 100%;
			span {
				display: block;
				width: 20px;
				height:20px;
				position: absolute;
				top: 16px;
				left: 0px;
				background: url('../images/webapp/forget_icon.png') no-repeat 0px -24px;
			}
			input {
			    border: none;
			}
		}
		.inputNumber_check_rt {
			width: 40%;
			position: absolute;
			top: 11px;
			right: 0px;
			text-align: center;
			button {
				width: 90%;
    			display: inline-block;
				background:#008fff;
				color: #feffff;
				border: 1px solid #008fff;
				padding: 6px 0px;
				font-size: 0.14rem;
			}

		}
	}		
}
.nextSep {
		width: 100%;
		height: 36px;
		margin-top: 66px;
	    padding: 0 16px;
		button {
			width: 100%;
			height: 100%;
			display: block;
			background: #008fff;
			border-radius: 50px;
			font-size: 0.16rem;
			color: #fff;
			border: 1px solid #008fff;
			a {
				color:#fff;
			}
		}
	}
/*忘记密码第一步页面 END */
/*忘记密码第二步页面 START */
.forget_pd_second {
	.userReg_phone {
		span {
			background: url(../images/webapp/locked.png) no-repeat 0px 0px;
		    width: 25px;
		    left: 0px;
		}
	}
	.userReg_check {
		.userReg_check_ft {
			span {
				background: url(../images/webapp/locked.png) no-repeat 0px 0px;
			   	height: 25px;
			    width: 25px;
			    left: 0px;
			    top: 11px;  
			}
			input {
				border: none;
			}
		}
	}	
}
/*忘记密码第二步页面 END */

/*优选系列页面 START */
.wrap {
	.header {
	    margin-top: -5px;
		width: 100%;
		background: url(../images/webapp/invest_d01.png) no-repeat 0px 0px;
		background-size: 100% 100%;
		position: relative;
		h1 {
			padding: 0.6rem 0 0 0;
			text-align: center;
			color: #fff;
			letter-spacing: 4px;
		}
		p {
			padding: 0 0 0.6rem 0;
			text-align: center;
			color: #fff;
			letter-spacing: 4px;
			i {
				font-weight: 900;
			}
		}
	}
	.list_common {
		position: relative;
		margin-top: -25px;
		img {
		    width: 100%;
		    z-index:10;
		}
		.content {
			width: 90%;
			height: 79%;
			position: absolute;
			top: 10%;
    		left: 5%;
    		z-index: 11;
    		.top {
                width: 100%;
                height: 75%;
                color: #fff;
                .top_lt {
                    float: left;
                    padding-top: 13%;
                    padding-left: 10%;
                    span {
                        font-size: 0.3rem;
                        font-weight: bold;
                    }
                }
                .top_rt {
                    float: right;
                    width: 27%;
                    height: 75%;
                    line-height: 75%;
                    background: url(../images/webapp/ty.png) no-repeat 0px 0px;
                    background-size: 100% 100%;
                    margin: 4.5% 10% 0 0;
                    text-align: center;
                    color:#ff4040;
                    position: relative;
                    .cen {
                        width: 100%;
                        position: absolute;
                        top: 30%;
                        left: 0px;
                    }
                    span {
                        font-size: 0.3rem;
                        font-weight: bold;
                    }
                    p {
                        color:#e8e9ef;
                        line-height: 30px;
                        font-size: 0.12rem;
                    }
                }
            }
            .bottom {
                width: 100%;
                text-align: center;
                margin-bottom: 0; 
                height: 26%;
                display: table;
                .number {
                    font-size: 0.2rem;
                    font-weight: 600;
                    color: #008fff;
                }
                p {
                    margin: 0;
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                }
            }
		}
	}
}
/*优选系列页面 END */

/*定期投资页面 START */
.wrap_dt {
    .header {
        margin-top: -5px;
        width: 100%;
        background: url(../images/webapp/invest_dq02.png) no-repeat 0px 0px;
        background-size: 100% 100%;
        position: relative;
        h1 {
            padding: 0.6rem 0;
            text-align: center;
            color: #fff;
            letter-spacing: 4px;
        }
        
    }
    .contain {
         padding: 0 0.1rem;
         margin-top: 0.15rem;
         background: #fff;
        .dq_list {
            width: 100%;
            h5 {
                height: 40px;
                line-height: 40px;
                padding-left: 30px;
                margin: 0;
                background: url(../images/webapp/d_01.png) no-repeat left center;
                background-size: 25px 25px; 
                color: #666666;
                font-size: 0.16rem;
                font-weight: 100;
                border-bottom: 1px solid #f1f1f1;
            }
            .cen {
               width: 100%;
               height: 1rem;
               .cen_ft {
                    float: left;
                    width: 35%;
                    text-align: left;
                    margin-top: 0.3rem;
                    color: #ff6363;
                    .number_dq {
                        font-size: 0.2rem;
                        font-weight: bold;
                        color: #ff4040;  
                    }
                    p {
                        color: #b0b0b0;                       
                    }
               } 
               .cen_ct {
                    float: left;
                    width: 30%;               
                    text-align: center;
                    margin-top: 0.3rem;
                     color: #4d4d4d;
                    span {
                        font-size: 0.2rem;
                        font-weight: 100;
                        color: #4d4d4d;  
                    }
                    p {
                        color: #b0b0b0;
                    }
               } 
               .cen_rt {
                    float: left;
                    width: 35%;                 
                    text-align: right;  
                    margin-top: 0.32rem; 
                    span {
                        color: #4d4d4d;;
                    }
               } 
            }
            .progress {
                padding-bottom: 0.2rem;
                width: 85%;
                position: relative;
                .pro_wrap {
                    width: 100%;
                    height: 3px;
                    background: #eeeeee;                   
                    .percent {
                        display: block;
                        width: 60%;
                        height: 3px;
                        background: #008fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 100;
                        
                    }
                    .per_num {
                        font-size: 0.17rem;
                        color: #67afff;
                        position: absolute;
                        right: -18%;
                        bottom: 0.11rem;
     
                    }
                } 
            }
            
        }
        .dq_list_d {
            h5 {
               background: url(../images/webapp/d_02.png) no-repeat left center; 
               background-size: 25px 25px; 
            }
            .cen {
                .cen_ft {
                    color: #b3b3b3;
                    .number_dq {
                        color: #b3b3b3;
                    }
                }
                .cen_ct {
                    color: #b3b3b3;
                    span {
                        color: #b3b3b3;
                    }
                }
                .cen_rt {
                    color: #b3b3b3;
                    span {
                        color: #b3b3b3;
                    }
                }
            }
            .progress {
                .pro_wrap {
                    .percent {                        
                        width: 100%;
                        background: #d6d6d6;
                      }
                    .per_num {
                        color: #b3b3b3;
                    }
                }
            }
        }
    }
      
}

/*定期投资页面 END */

/*自选系列页面 START */



.wrap_zx {
    .header {
        margin-top: -5px;
        width: 100%;
        background: url(../images/webapp/invest_zx.jpg) no-repeat 0px 0px;
        background-size: 100% 100%;
        position: relative;
        h1 {
            padding-top: 0.6rem;
            text-align: center;
            color: #fff;
            letter-spacing: 4px;
        }
        p {
            text-align: center;
            padding-bottom: 0.5rem;
            padding-top: 0.1rem;
            color: #fff;
        }
    }
    .container {
         padding: 0 0.1rem;
         margin-top: 0.15rem;
         background: #fff;
        .dq_list {
            width: 100%;
            h5 {
                height: 40px;
                line-height: 40px;
                padding-left: 30px;
                margin: 0;
                background: url(../images/webapp/xin.png) no-repeat left center;
                background-size: 25px 25px; 
                color: #666666;
                font-size: 0.16rem;
                font-weight: 100;
                border-bottom: 1px solid #f1f1f1;
            }
            .cen {
               width: 100%;
               height: 1rem;
               .cen_ft {
                    float: left;
                    width: 35%;
                    text-align: left;
                    margin-top: 0.3rem;
                    color: #ff6363;
                    .number_dq {
                        font-size: 0.2rem;
                        font-weight: bold;
                        color: #ff4040;  
                    }
                    p {
                        color: #b0b0b0;                       
                    }
               } 
               .cen_ct {
                    float: left;
                    width: 30%;               
                    text-align: center;
                    margin-top: 0.3rem;
                     color: #4d4d4d;
                    span {
                        font-size: 0.2rem;
                        font-weight: 100;
                        color: #4d4d4d;  
                    }
                    p {
                        color: #b0b0b0;
                    }
               } 
               .cen_rt {
                    float: left;
                    width: 35%;                 
                    text-align: right;  
                    margin-top: 0.29rem; 
                    span {
                        color: #4d4d4d;;
                    }
               } 
            }
            .progress {
                padding-bottom: 0.2rem;
                width: 85%;
                position: relative;
                .pro_wrap {
                    width: 100%;
                    height: 3px;
                    background: #eeeeee;                   
                    .percent {
                        display: block;
                        width: 60%;
                        height: 3px;
                        background: #008fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 100;
                        
                    }
                    .per_num {
                        font-size: 0.17rem;
                        color: #67afff;
                        position: absolute;
                        right: -18%;
                        bottom: 0.11rem;
     
                    }
                } 
            }
            
        }
        .dq_list_d {
            h5 {
               background: url(../images/webapp/xin_1.png) no-repeat left center; 
               background-size: 25px 25px; 
            }
            .cen {
                .cen_ft {
                    color: #b3b3b3;
                    .number_dq {
                        color: #b3b3b3;
                    }
                }
                .cen_ct {
                    color: #b3b3b3;
                    span {
                        color: #b3b3b3;
                    }
                }
                .cen_rt {
                    color: #b3b3b3;
                    span {
                        color: #b3b3b3;
                    }
                }
            }
            .progress {
                .pro_wrap {
                    .percent {                        
                        width: 100%;
                        background: #d6d6d6;
                      }
                    .per_num {
                        color: #b3b3b3;
                    }
                }
            }
        }
    }
      
}
/*自选系列页面 END */
/*变现转让页面 START */
.mui-pull-top-pocket {
    top: 70px;
}
.wrap_zr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    .title {
        height: 0.4rem;
        line-height: 0.4rem;
        background: #fff;
        .tit_ft {
            width: 33.333333%;
            float: left;
            span {
                margin-left: 0.05rem;
                color: #008fff;
                i {
                    font-weight: bold;
                }
            }
        }
        .tit_cen {
            width: 33.333333%;
            float: left;
            text-align: center;
            color: #383838;
        } 
    }
    .zr_sort {
        width: 100%;
        height: 0.35rem;
        line-height: 0.35rem;
        background: #fafafa;
        border-top: 1px solid  #f3f3f3;
        li {
            width: 33.333333%;
            float: left;
            text-align: center;
            height: 0.35rem;
            line-height: 0.35rem;
            a {
                text-align: center;
                color: #666666;
                font-size: 0.14rem;
            }
            i {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../images/webapp/sort_1.png) no-repeat 0px 0px; 
                vertical-align: middle;
                margin-left: 0.05rem;
                background-size:  50% 100%;
            }
        }
        .active {
            border-bottom: 2px solid #008fff;
            a {
                color:#008fff;
            }           
            .onup {
                i {
                    background: url(../images/webapp/sort_up.png) no-repeat 0px 0px; 
                    background-size:  50% 100%;  
                }
            }
            .ondown {
                i {
                    background: url(../images/webapp/sort_down.png) no-repeat 0px 0px; 
                    background-size:  50% 100%;
                  
                }
            }
        }
        
    }
    
    
}
.wrap_zrList {
    .container {
         padding: 0 0.1rem;
         margin-top: 0.9rem;
         background: #fff;
        .dq_list {
            width: 100%;
            h5 {
                height: 40px;
                line-height: 40px;
                padding-left: 30px;
                margin: 0;
                background: url(../images/webapp/xin.png) no-repeat left center;
                background-size: 25px 25px; 
                color: #666666;
                font-size: 0.16rem;
                font-weight: 100;
                border-bottom: 1px solid #f1f1f1;
            }
            .cen {
               width: 100%;
               height: 1rem;
               .cen_ft {
                    float: left;
                    width: 30%;
                    text-align: left;
                    margin-top: 0.3rem;
                    color: #ff6363;
                    .number_dq {
                        font-size: 0.2rem;
                        font-weight: bold;
                        color: #ff4040;  
                    }
                    p {
                        color: #b0b0b0;                       
                    }
               } 
               .cen_ct {
                    float: left;
                    width: 40%;               
                    text-align: center;
                    margin-top: 0.3rem;
                     color: #4d4d4d;
                     .cen_ct_ft {
                         float: left;
                         span {
                            font-size: 0.2rem;
                            font-weight: 100;
                            color: #4d4d4d;  
                        }
                        p {
                            color: #b0b0b0;
                        }
                     }
                     .cen_ct_rt {
                         float: right;
                         
                         span {
                            font-size: 0.2rem;
                            font-weight: 100;
                            color: #4d4d4d;  
                        }
                        p {
                            color: #b0b0b0;
                        }
                     }
                    
               } 
               .cen_rt {
                    float: left;
                    width: 30%;                 
                    text-align: right;  
                    margin-top: 0.29rem; 
                    span {
                        color: #4d4d4d;;
                    }
               } 
            }
            .progress {
                padding-bottom: 0.2rem;
                width: 85%;
                position: relative;
                .pro_wrap {
                    width: 100%;
                    height: 3px;
                    background: #eeeeee;                   
                    .percent {
                        display: block;
                        width: 60%;
                        height: 3px;
                        background: #008fff;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 100;
                        
                    }
                    .per_num {
                        font-size: 0.17rem;
                        color: #67afff;
                        position: absolute;
                        right: -18%;
                        bottom: 0.11rem;
     
                    }
                } 
            }
            
        }
        .dq_list_d {
            h5 {
               background: url(../images/webapp/xin_1.png) no-repeat left center; 
               background-size: 25px 25px; 
            }
            .cen {
                .cen_ft {
                    color: #b3b3b3;
                    .number_dq {
                        color: #b3b3b3;
                    }
                }
                .cen_ct {
                    color: #b3b3b3;
                    .cen_ct_ft {                      
                         span {
                            color: #b0b0b0;  
                        }
                     }
                     .cen_ct_rt {
                         float: right;
                         
                         span {
                            color: #b0b0b0;  
                        }
                     }
                }
                .cen_rt {
                    color: #b3b3b3;
                    span {
                        color: #b0b0b0;
                    }
                }
            }
            .progress {
                .pro_wrap {
                    .percent {                        
                        width: 100%;
                        background: #d6d6d6;
                      }
                    .per_num {
                        color: #b3b3b3;
                    }
                }
            }
        }
    }
      
}
/*变现转让页面 END */

/*我的账户页面START */
.my_count {
    line-height: 0;
    background: #0230bc;       
    img {
        width: 100%;
    }
    .my_count_top {
        width: 100%;
        position: fixed;
        top: 0;
        height: 0.45rem;
        line-height: 0.45rem;
//      background: #0230bc;
        padding: 0 0.12rem;
        .close_ft {
            i {
                display: block;
                width: 0.25rem;
                height: 0.25rem;
                line-height: 0.25rem;
                position: absolute;
                top: 50%;
                margin-top: -0.125rem;
                background: url(../images/webapp/count_show.png) no-repeat; 
                background-size: 100% 100%; 
            }
        }
        .mycount_cen {
            width: 36%;
            margin: 0 auto;

            ul {
                width: 100%;
                border-radius: 50px;
                border: 1px solid #91a7e6;
                line-height: 0.3rem;
                margin-top: 0.075rem;
                li {
                    width: 50%;
                    height: 0.28rem;
                    line-height: 0.28rem;
                    float: left;
                    text-align: center;
                    line-height: 0.3rem;
                    color:#fff;
                    &:first-child {
                        
                    }
                    &.c1 {
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                }
                
                li.c2 {
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }
                li.active {
                    background: #fff;
                    color: #088fff;
                    
                }
            }
        }
        .mycount_rt {
            float: right;
            a {
                display: block;
                width: 0.27rem;
                height: 0.27rem;
                line-height: 0.27rem;
                position: absolute;
                top: 50%;
                margin-top: -0.125rem;
                right: 0.12rem;
                background: url(../images/webapp/count.png) no-repeat; 
                background-size: 100% 100%; 
            }
        }
    }
}
h1 {
  height: 0px;  
}

/*我的账户页面 END */